<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of devices; let i = index">
    <div *ngIf="i <= 3">
    <ngx-status-card *ngIf="i == 0" [item]="statusCard" type="primary"> 
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
    <ngx-status-card *ngIf="i == 1" [item]="statusCard" type="success"> 
      <i class="nb-roller-shades"></i>
    </ngx-status-card>
    <ngx-status-card *ngIf="i == 2" [item]="statusCard" type="info"> 
      <i class="nb-audio"></i>
    </ngx-status-card>
    <ngx-status-card *ngIf="i == 3" [item]="statusCard" type="warning"> 
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="72"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div>
